<meta charset="UTF-8" />
<title>School Management</title>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/tailwindcss@2.x/dist/tailwind.min.css"
/>
<style>  
  *{
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    width: 100vw;
    height: 100vh;
  }
</style>
