<aside
  id="logo-sidebar"
  class="h-screen w-72 pt-5 bg-gray-800 border-r border-gray-200 sm:translate-x-0 px-3 pb-4 overflow-y-auto"
  aria-label="Sidebar"
>
  <ul class="space-y-2">
    <li>
      <a
        href="/school"
        class="flex items-center p-2 text-base font-normal text-white rounded-lg hover:bg-gray-100 hover:text-gray-800"
      >
        <span class="ml-3">Schools</span>
      </a>
    </li>
    <li>
      <a
        href="/student"
        class="flex items-center p-2 text-base font-normal text-white rounded-lg hover:bg-gray-100 hover:text-gray-800"
      >
        <span class="flex-1 ml-3 whitespace-nowrap">Students</span>
      </a>
    </li>
    <li>
      <a
        href="/subject"
        class="flex items-center p-2 text-base font-normal text-white rounded-lg hover:bg-gray-100 hover:text-gray-800"
      >
        <span class="flex-1 ml-3 whitespace-nowrap">Subjects</span>
      </a>
    </li>
    <li>
      <a
        href="/class"
        class="flex items-center p-2 text-base font-normal text-white rounded-lg hover:bg-gray-100 hover:text-gray-800"
      >
        <span class="flex-1 ml-3 whitespace-nowrap">Classes</span>
      </a>
    </li>
    <li>
      <a
        href="/teacher"
        class="flex items-center p-2 text-base font-normal text-white rounded-lg hover:bg-gray-100 hover:text-gray-800"
      >
        <span class="flex-1 ml-3 whitespace-nowrap">Teachers</span>
      </a>
    </li>
  </ul>
</aside>
