<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head'); %>
</head>
<body class="w-full">

<main class="flex">
  <%- include('../../partials/sidebar'); %>
  <%- include('./students'); %>
</main>

</body>
</html>