<main class="flex flex-col w-full py-2 px-10 overflow-hidden">
  <h1 class="text-3xl overflow-hidden font-semibold my-5">Students</h1>
  <table class="min-w-full border text-center">
    <thead class="border-b-2">
      <tr>
        <th
          scope="col"
          class="text-xl font-medium text-gray-900 px-6 py-4 border-r"
        >
          First Name
        </th>
        <th
          scope="col"
          class="text-xl font-medium text-gray-900 px-6 py-4 border-r"
        >
          Last Name
        </th>
        <th
          scope="col"
          class="text-xl font-medium text-gray-900 px-6 py-4 border-r"
        >
          Email
        </th>
        <th
          scope="col"
          class="text-xl font-medium text-gray-900 px-6 py-4 border-r"
        >
          Address
        </th>
        <th
          scope="col"
          class="text-xl font-medium text-gray-900 px-6 py-4 border-r"
        >
          Phone
        </th>
        <th scope="col" class="text-xl font-medium text-gray-900 px-6 py-4">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b">
        <td
          class="text-sm text-gray-900 font-normal px-6 py-4 whitespace-nowrap border-r"
        >
          Mark
        </td>
        <td
          class="text-sm text-gray-900 font-normal px-6 py-4 whitespace-nowrap border-r"
        >
          Kannod road
        </td>
        <td
          class="text-sm text-gray-900 font-normal px-6 py-4 whitespace-nowrap border-r"
        >
          me@sleep.com
        </td>
        <td
          class="text-sm text-gray-900 font-normal px-6 py-4 whitespace-nowrap border-r"
        >
          Ashta
        </td>
        <td
          class="text-sm text-gray-900 font-normal px-6 py-4 whitespace-nowrap border-r"
        >
          6969696969
        </td>
      </tr>
    </tbody>
  </table>
</main>
